.gallery-ref {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.gallery-ref::after,
.gallery-ref::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #69004a, #69004a);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.gallery-ref::before {
  top: -5px;
  transform-origin: left;
}

.gallery-ref:hover::after,
.gallery-ref:hover::before {
  transform: scaleX(1);
}
.character-card {
  transition: all 1s ease;
}
.character-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255, 0, 221, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 1s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,0,221,0.5);
}
.character-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
