.flowing-images{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.image-row{
  display: flex;
  gap: 16px;
  animation: scroll-left 40s linear infinite;
}
.image-row:nth-child(2){
  animation: scroll-right 40s linear infinite;
}
.flowing-images img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0,0.3);
  flex-shrink: 0;
}

@keyframes scroll-left{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes scroll-right{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}